.conta-card {
  border-radius: 18px;
  border: 1px solid rgba(15, 23, 42, 0.05);
}

.conta-avatar-placeholder {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  background: #ffe8a3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
  color: #8b5c00;
}

.conta-atalhos-lista .list-group-item {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.conta-atalhos-lista .list-group-item i {
  font-size: 1.2rem;
  color: #495057;
}

.conta-atalhos-lista .list-group-item:hover {
  background-color: #fff7d1;
}
